<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>
    <!-- stylesheet -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='local/css/style.css' />
    <!--
        <link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less">
    -->

</head>

<body>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BP Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">홈</a></li>
                <li><a href="/member">회원</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div id="content">
        <div id="login">
            <h2>로그인 해주세요.</h2>
            <p>관리자 페이지를 이용하시려면 로그인을 해주셔야 합니다.</p>
            <form action="/api/checklogin" method="post">
                <div class="input-group">
                    <span class="input-group-addon"> <span class="glyphicon glyphicon-user"> </span> </span>
                    <input name="id" type="text" class="form-control" placeholder="아이디">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">  <span class="glyphicon glyphicon-lock"></span> </span>
                    <input name="password" type="password" class="form-control" placeholder="암 호">
                </div>
                <br>
                <button type="submit" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> 로그인
                </button>
            </form>
        </div>
    </div>
</div>
<script src="lib/jquery/jquery-1.11.2.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script>
$(document).ready(function (){
    $('#form_login').submit(function () {
        alert("submit");
        var formData = $("#form_login").serialize();
        var action = $("#form_login").attr('action');
        $.ajax({
            type : "post",
            url : action,
            data : formData,
            cache : false,
            dataType : "json",
            success : function(data) {
                alert(data);
                if (data.result == false) {
                    login = false;
                }
                else {
                    login = true;
                }
            }
        });
    });
});
</script>
</body>

</html>
